<!-- Search -->

<div class="search-row">
    <div class="categories-toggle" id="openCategories"><i class="fa fa-list"></i> All Categories</div>
    <div class="search-bar">
        <input class="search-input" id="searchInput" placeholder="Search for groceries..." />
        <button class="search-btn" id="searchBtn">Search</button>

    </div>

</div>